<!DOCTYPE html>
<html>

<head>
    <title>文字画像生成くん(仮)</title>
</head>

<body>
    <h1>文字画像生成くん</h1>
    <h2>Webアプリ開発</h2>

    <form method="post" action="/index">
        <p>画像にしたい文字を入力</p>
        <input type="text" name="text" placeholder="文字を入力">

        <p>フォントを選択</p>
        <select size="1" name="font">
            <option value="simplex">SIMPLEX</option>
            <option value="plain">PLAIN</option>
            <option value="duplex">DUPLEX</option>
            <option value="complex">COMPLEX</option>
            <option value="triplex">TRIPLEX</option>
            <option value="complex_small">COMPLEX_SMALL</option>
            <option value="script_simplex">SCRIPT_SIMPLEX</option>
            <option value="script_complex">SCRIPT_COMPLEX</option>
            <option value="italic">ITALIC</option>
        </select>

        <p>色を選択</p>
        <input type="color" name="color">

        <p>文字サイズを入力</p>
        <input type="number" name="textsize">

        <p>画像サイズを入力</p>
        <label for="height">縦</label>
        <input type="number" name="height" id="height">
        <label for="width">横</label>
        <input type="number" name="width" id="width">

        <p></p>
        <input type="submit" value="生成">
        <p></p>
    </form>

    <img src="data:image/jpg;base64,{{img_base64}}" alt="生成された文字画像">
</body>

</html>